@import url('https://fonts.google.com/css2?family:Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #17a2b8;

}

.wrapper {
    padding: 35px;
    background: #fff;
    width: 770px;
    border-radius: 10px;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.typing-test{
    font-size: 21px;
}